TA-Lib
wkhtmltopdf
pandas~=0.25.3
sqlalchemy~=1.3.18
requests~=2.24.0
bs4~=0.0.1
beautifulsoup4~=4.9.1
yfinance~=0.1.54
tushare~=1.2.60
baostock~=0.8.8
python-dateutil~=2.8.1
configparser~=5.0.0
numpy~=1.19.1
seaborn~=0.10.0
imgkit~=1.0.2
matplotlib~=3.3.0
git+git://github.com/hk-Lei/OpenData.git